footer.footer
    .footer__logo-box
        img.footer__logo(src="/assets/img/icons/logo-light.png" alt="Company logo")
    .footer__navigation
        ul.footer__list
            li.footer__item: a.footer__link(href="#") Company
            li.footer__item: a.footer__link(href="#") Contact us
            li.footer__item: a.footer__link(href="#") Careers
            li.footer__item: a.footer__link(href="#") Privacy policy
            li.footer__item: a.footer__link(href="#") Terms
    .footer_down
        p.footer__copyright Created by Fanni Szikszai
            sup &copy;
            span . The company logo is designed by the creator. All rights reserved.
