// COLOR VARIABLES
$color-primary: #924e05;
$color-primary-dark: #142835;

$color-primary-light: #ffd8ae;

$color-secondary-light: #e9c6a2;
$color-secondary-dark: #0e161b;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

$default-font-size: 1.6rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;